app:
  name: restaurants-service
  version: 1.0.0
  
service:
  port: 8443
  read-timeout: 20
  write-timeout: 20
  cert-file: server.crt
  key-file: server.key
  skip-path: .*/info .*/health .*/metrics

apiKey: AIzaSyCOVAk8nJ4nXU43HwzeBY34l1el4QHhliE
max-attempt: 20
imageUrl: https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photo_reference={photoReference}&key=AIzaSyCOVAk8nJ4nXU43HwzeBY34l1el4QHhliE

redis:
  host: localhost:6379
  ttl: 3600s
  db-index: 0